NewAvatarWebApisVer8/.vs/NewAvatarWebApis/CopilotIndices/17.14.1368.60722/CodeChunks.db
NewAvatarWebApisVer8/.vs/NewAvatarWebApis/CopilotIndices/17.14.1368.60722/CodeChunks.db-shm
NewAvatarWebApisVer8/.vs/NewAvatarWebApis/CopilotIndices/17.14.1368.60722/CodeChunks.db-wal
NewAvatarWebApisVer8/.vs/NewAvatarWebApis/CopilotIndices/17.14.1368.60722/SemanticSymbols.db
NewAvatarWebApisVer8/.vs/NewAvatarWebApis/CopilotIndices/17.14.1368.60722/SemanticSymbols.db-shm
NewAvatarWebApisVer8/.vs/NewAvatarWebApis/CopilotIndices/17.14.1368.60722/SemanticSymbols.db-wal
NewAvatarWebApisVer8/.vs/NewAvatarWebApis/FileContentIndex/c401a196-22c7-427c-b0e2-c7ff67f5369b.vsidx
NewAvatarWebApisVer8/obj/Release/net8.0/rpswa.dswa.cache.json
NewAvatarWebApisVer8/obj/Release/net8.0/NewAvatarWebApis.sourcelink.json
NewAvatarWebApisVer8/obj/Release/net8.0/NewAvatarWebApis.GeneratedMSBuildEditorConfig.editorconfig
NewAvatarWebApisVer8/obj/Release/net8.0/NewAvatarWebApis.csproj.AssemblyReference.cache
NewAvatarWebApisVer8/obj/Release/net8.0/NewAvatarWebApis.assets.cache
NewAvatarWebApisVer8/obj/Release/net8.0/NewAvatarWebApis.AssemblyInfoInputs.cache
NewAvatarWebApisVer8/obj/Release/net8.0/NewAvatarWebApis.AssemblyInfo.cs
NewAvatarWebApisVer8/obj/project.nuget.cache
NewAvatarWebApisVer8/obj/project.assets.json
NewAvatarWebApisVer8/obj/NewAvatarWebApis.csproj.nuget.g.targets
NewAvatarWebApisVer8/obj/NewAvatarWebApis.csproj.nuget.dgspec.json
NewAvatarWebApisVer8/.vs/NewAvatarWebApis/v17/DocumentLayout.json
NewAvatarWebApisVer8/.vs/NewAvatarWebApis/v17/DocumentLayout.backup.json
NewAvatarWebApisVer8/.vs/NewAvatarWebApis/v17/.suo
NewAvatarWebApisVer8/.vs/NewAvatarWebApis/v17/.futdcache.v2
NewAvatarWebApisVer8/.vs/NewAvatarWebApis/FileContentIndex/f9eb13f6-e044-4836-9f77-20367c88b8e2.vsidx
NewAvatarWebApisVer8/.vs/NewAvatarWebApis/FileContentIndex/ec921af5-6ad0-4362-bb0f-3c137b364a32.vsidx
NewAvatarWebApisVer8/.vs/NewAvatarWebApis/FileContentIndex/d0fb21b4-bedf-4937-8665-90269edb81ee.vsidx
NewAvatarWebApisVer8/.vs/NewAvatarWebApis/FileContentIndex/c018b8d8-a323-4c39-a7df-c6a6f73a14d9.vsidx
NewAvatarWebApisVer8/.vs/NewAvatarWebApis/FileContentIndex/9d25554f-f865-4c57-893b-7f932af2d9f2.vsidx
NewAvatarWebApisVer8/obj/Release/net8.0/rpswa.dswa.cache.json
NewAvatarWebApisVer8/obj/Release/net8.0/NewAvatarWebApis.GeneratedMSBuildEditorConfig.editorconfig
NewAvatarWebApisVer8/obj/Release/net8.0/NewAvatarWebApis.csproj.AssemblyReference.cache
NewAvatarWebApisVer8/obj/Release/net8.0/NewAvatarWebApis.assets.cache
NewAvatarWebApisVer8/obj/Release/net8.0/NewAvatarWebApis.AssemblyInfoInputs.cache
NewAvatarWebApisVer8/obj/Release/net8.0/NewAvatarWebApis.AssemblyInfo.cs
NewAvatarWebApisVer8/obj/project.nuget.cache
NewAvatarWebApisVer8/obj/project.assets.json
NewAvatarWebApisVer8/obj/NewAvatarWebApis.csproj.nuget.g.targets
NewAvatarWebApisVer8/obj/NewAvatarWebApis.csproj.nuget.dgspec.json
*.json
