NewAvatarWebApisVer8/.vs/NewAvatarWebApis/CopilotIndices/17.14.1368.60722/CodeChunks.db
NewAvatarWebApisVer8/.vs/NewAvatarWebApis/CopilotIndices/17.14.1368.60722/CodeChunks.db-shm
NewAvatarWebApisVer8/.vs/NewAvatarWebApis/CopilotIndices/17.14.1368.60722/CodeChunks.db-wal
NewAvatarWebApisVer8/.vs/NewAvatarWebApis/CopilotIndices/17.14.1368.60722/SemanticSymbols.db
NewAvatarWebApisVer8/.vs/NewAvatarWebApis/CopilotIndices/17.14.1368.60722/SemanticSymbols.db-shm
NewAvatarWebApisVer8/.vs/NewAvatarWebApis/CopilotIndices/17.14.1368.60722/SemanticSymbols.db-wal
NewAvatarWebApisVer8/.vs/NewAvatarWebApis/FileContentIndex/c401a196-22c7-427c-b0e2-c7ff67f5369b.vsidx
